<table class="table">
  <tr>
    <td>Last updated:</td><td>{{ .date }}</td>
  </tr>
  <tr>
    <td>UI host</td><td>{{ .state.UiHostname }}</td>
  <tr>
    <td>Request count:</td><td>{{ .state.RequestCount }}</td>
  </tr>    
  <tr>
    <td>Error count:</td><td>{{ .state.ErrorCount }}</td>
  </tr>  
  <tr>
    <td>Last error:</td><td>{{ .state.LastError }}</td>
  </tr>
</table>

<br/>

<table class="table">
  <tr>
    <th>counter host</th>
    <th>counter start time</th>
    <th>version</th>    
    <th>requests</th>
  </tr>
  {{ range $index, $val := .state.RecentResponses }}
  <tr>
    <td>{{ $val.Hostname }}</td>
    <td>{{ $val.ChildStartTime }}</td>    
    <td>{{ $val.Version }}</td>
    <td>{{ $val.RequestCount }}</td>
  </tr>
  {{ end }}
</table>
